<div class="task" [style.background-color]="selected() ? '#A2C790' : 'transparent'">
    <mat-label class="title">
        {{ taskname }}
    </mat-label>
    <div class="bar-container">
        <div class="progress">
                {{ currWidth }}
            <div 
            class="progress-bar progress-bar-success"
            [attr.aria-valuenow]="currValue" 
            aria-valuemin="0" 
            aria-valuemax="100"
            [style.width]="currWidth">
            </div>
        </div>
    </div>
    <app-info-detail 
    *ngIf="selected()"
    [accomplish]="accomplish"
    [plan]="getPlan()"
    [done]="getDone"
    >

    </app-info-detail>
</div>