<mat-card class="side">
        <div class="textbox"
        [style.background-color]="selected === 'dashboard' ? '#8CB978' : 'transparent'" 
        (click)="assign('dashboard')">Dashboard</div>
        <div class="textbox"
        [style.background-color]="selected === 'activities' ? '#8CB978' : 'transparent'" 
        (click)="assign('activities')">Activities</div>
        <div class="textbox"
        [style.background-color]="selected === 'friends' ? '#8CB978' : 'transparent'" 
        (click)="assign('friends')">Friends</div>
</mat-card>