body {
    background-color: #8CB978;
}

mat-card.main {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    height: 300px;
    width: 350px;
    top: 25%;
    margin: auto;
}

input {
    background-color: #E2F5D9;
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 30px;
    outline: none;
    border-radius: 0.4rem;
}



mat-label.title {
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;
    display: block;
    text-align: center;
}

.label {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.buttons {
    width: 100%;
    height: 50px;
    margin: 20px auto;
    display: block;
}

button {
    background-color: #E2F5D9;
    display: inline;
    text-align: center;
    width: 40%;
    margin: 5%;
}

