body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #8CB978;
}

div.check-nav {
    margin: 2% auto;
    height: 10%;
    width: 95%;
    box-sizing: border-box;
}

div.side-nav {
    height: 80%;
    width: 20%;
    box-sizing: border-box;
    margin: 2% auto 0 2.5%;
}

div.info-panel {
    height: 80%;
    width: 72%;
    box-sizing: border-box;
    margin: 2% auto 0 0.5%;
}

div.container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}